.container {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-left: auto;
  margin-right: auto;
}
/* MOBILES */
@media (max-width: 48em) {
  .container {
    width: 46.875rem;
  }
  .header .logo {
    width: 100%;
  }
}
/* TABLETS */
@media (max-width: 48em) {
  .container {
    width: 60.625rem;
  }
}
@media (max-width: 34em) {
  .container {
    width: 46.875rem;
  }
  header {
    height: 2.5rem;
    display: flex;
    flex-wrap: wrap;
  }
  header .logo {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
  }
  header .container ul > li > a {
    font-size: 0.6rem;
    height: 2rem;
  }
  header .container ul {
    margin: 0.5rem 0 0 0;
    width: 100%;
  }
}
