.container {
  padding-left: 1.9375rem;
  padding-right: 1.9375rem;
  margin-left: auto;
  margin-right: auto;
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  .landing .image {
    display: none;
  }

  .landing .text h1 {
    text-align: center;
  }
  .landing .text p {
    margin: 1rem auto;
    text-align: center;
  }
  .mega-menu .image {
    display: none;
  }
}
/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
  .container {
    width: 31rem;
  }
  header {
    height: 5.7rem;
    display: flex;
    flex-wrap: wrap;
  }
  header .logo {
    width: 100%;
    height: 3.125rem;
    font-size: 2.2rem;
  }
  header .container > ul > li > a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    height: 2rem;
  }
  header .container > ul {
    margin: auto;
    width: 100%;
  }
  .landing .text h1 {
    font-size: 1.75rem;
  }
  .landing .container {
    height: calc(100vh - 5.7rem);
  }
  .mega-menu .links li a {
    font-size: 1rem;
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 34em) {
  .container {
    width: 22.5rem;
  }
  header .logo {
    width: 100%;
    font-size: 1.5rem;
  }
  .landing .text p {
    font-size: 1rem;
  }
  .mega-menu {
    flex-direction: column;
    padding: 0.1rem;
    margin: 0;
  }
  .mega-menu .links li a {
    padding: 0.6rem;
  }
  .mega-menu .left li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
  .mega-menu .right {
    margin-left: 0;
  }
}
/* ************************** */
/* FOR IPHONES */
/* ************************** */
@media (max-width: 22.4375em) {
  .container {
    width: 19rem;
  }
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
